<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/style.css">
</head>
<body class="producto">
    <%- include('nav') %>

    <div class="container ">
        <div class="row d-flex align-items-center">
            <div class="col-6">
                <img class="img-fluid" src="../imagenes/login2.jpg" alt="login">
            </div>
            <div class="col-4" >
                <div>
                    <% if (mensaje==""){%>
                   <h3>Registro</h3>
                    <form id="registro" action="form/registro" method="POST" >
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required placeholder="Lo usaras para el login">
                        </div>
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre Usuario</label>
                            <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="emailHelp"  maxlength="40" required placeholder="Tu nombre de usuario">
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Password</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                        </div>
                        
                        <button type="submit" class="btn btn-primary w-100" style="background-color: #53ac00; border: none;">Registrate</button>
                        <p class="mt-3"> ¿Ya tienes cuenta? <a href="./login">Login</a></p>
                    </form> 
                    <% }else{ %>
                        <h4><%=mensaje %></h4>
                        <% } %>
                </div>
                
            </div>
        
        </div>
    </div>
        

    
    <%- include('footer') %>


    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>